<div class="container">
  <div class="row mt-5">
    <div class="col-12 col-lg-6">
      <h1 class="text-dark"><strong>Hi 👋 <%= current_user.first_name %></strong></h1>
      <h3 class="text-secondary mb-3">Let's make the world a better place</h3>
      <div class="row g-3 mb-5">
        <div class="col-12 col-xxl-4 p-3 bg-primary bg-gradient rounded-3 d-flex flex-column justify-content-between">
          <div class="text-secondary">Number of donations</div>
          <div class="text-light fw-bold"><span class="fs-4"><%= @donations.count %></span> donations</div>
        </div>
        <div class="col-12 col-xxl-4 p-3 bg-primary bg-gradient rounded-3 d-flex flex-column justify-content-between">
          <div class="text-secondary">You've helped</div>
          <div class="text-light fw-bold"><span class="fs-4"><%= @donations.count * 100 %></span> people</div>
        </div>
        <div class="col-12 col-xxl-4 p-3 bg-primary bg-gradient rounded-3 d-flex flex-column justify-content-between">
          <div class="text-secondary">Your donor level</div>
          <div class="text-light fw-bold"><span class="fs-4"><%= @donations.count / 2 %></span> beginner</div>
        </div>
      </div>
      <h2 class="text-dark fw-bold mb-3">Check your donations</h2>
      <div class="d-flex gap-2 mb-3">
        <button class="btn btn-primary rounded-pill text-light">All</button>
        <button class="btn btn-outline-primary rounded-pill bg-light border-2">Active</button>
        <button class="btn btn-outline-primary rounded-pill bg-light border-2">Delivered</button>
      </div>
      <div class="d-flex flex-column gap-3">
        <% @shipments.each do |shipment| %>
          <%= render "shared/shipment_card", shipment: shipment %>
        <% end %>
      </div>
    </div>
    <div class="col-12 col-lg-6">
      <h2 class="text-dark fw-bold mb-3">Map</h2>
      <div class="rounded-3" style="width: 100%; height: 100vh;"
      data-controller="mapbox"
      data-mapbox-markers-value="<%= @markers.to_json %>"
      data-mapbox-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
    </div>
  </div>
</div>
